@model CurdOperation.Models.Product

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Are you sure you want to Edit this Product ?</h3>


<hr />
<div>
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="ProductID" />
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Category.CategoryID" class="control-label"></label>
                    <select class="form-control" id="CategoryID" name="CategoryID">
                        <option value="">Please Select Category</option>
                        @foreach (var cat in ViewBag.Categories)
                        {
                            if (cat.CategoryID == Model.CategoryID)
                            {
                                <option value="@cat.CategoryID" selected="selected">@cat.CategoryName</option>
 }
                            else
                            {
                                <option value="@cat.CategoryID">@cat.CategoryName</option>
}
                        }
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-success" />
                    <a asp-action="Index" class="btn btn-danger">Cancle</a>
                </div>
            </form>
        </div>
    </div>

    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
